<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/css/build/style.css">
    <link rel="stylesheet" href="/css/test.css">


    
</head>
<body dir="rtl" class="w-full">

    

    {{!-- header --}}


    <nav class="flex items-center justify-between flex-wrap bg-teal-500 p-6">
        <div class="flex items-center flex-shrink-0 text-white mr-6">
            <a href="/">
                <span class="text-2xl tracking-tight text-teal-100 hover:text-white">هفت هشتگ</span>
            </a>
        </div>
        
        <div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto">
            <div class="text-sm lg:flex-grow">
            
                <a href="/admin/" class="text-lg block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white mr-10 ml-10">
                    پنل ادمین
                </a>
            </div>
            <div>
                {{#if auth.check}}
                    <a href="/user" class="text-md inline-block px-4 py-2 leading-none border-2 rounded text-blue-100 border-white hover:border-transparent hover:text-blue-200 hover:bg-blue-800 mt-4 lg:mt-0 ml-2 bg-blue-600">پروفایل</a>
                    <a href="/auth/logout" class="inline-block text-md px-4 py-2 leading-none border-2 rounded text-red-100 border-white hover:border-transparent hover:text-red-200 hover:bg-red-800 mt-4 lg:mt-0 bg-red-600">خروج</a>
                {{else}}
                    <a href="/auth/login" class="text-md inline-block px-4 py-2 leading-none border-2 rounded text-white border-orange-100 hover:border-transparent hover:text-orange-200 hover:bg-orange-800 mt-4 lg:mt-0 ml-2 bg-orange-600">وارد شوید</a>
                    <a href="/auth/register" class="inline-block text-md px-4 py-2 leading-none border-2 rounded text-purple-100 border-white hover:border-transparent hover:text-purple-200 hover:bg-purple-800 mt-4 lg:mt-0 bg-purple-600">ثبت نام کنید</a>    
                {{/if}}
            </div>
        </div>
    </nav>

    {{!-- body --}}

    <div class=" min-w-full min-h-screen container bg-gray-100 divide-gray-400 px-10 lg:px-40 py-20">

        <div class="m-auto flex justify-center items-center">
            {{{ body }}}
        </div>
        
    </div>

    {{!-- footer --}}


    <footer class="footer bg-teal-600 relative pt-1 border-b-2 border-blue-700">
        <div class="container mx-auto px-6">

            <div class="sm:flex sm:mt-8">
                <div class="mt-8 sm:mt-0 sm:w-full sm:px-8 flex flex-col md:flex-row justify-between">
                    <div class="flex flex-col">
                        <span class="font-bold text-teal-300 mb-2">هفت هشتگ</span>
                        <span class="my-2"><a href="#" class="text-teal-200  text-md hover:text-white   ">link 1</a></span>
                        <span class="my-2"><a href="#" class="text-teal-200 text-md hover:text-white">link 1</a></span>
                        <span class="my-2"><a href="#" class="text-teal-200  text-md hover:text-white">link 1</a></span>
                    </div>
                    <div class="flex flex-col">
                        <span class="font-bold text-teal-300 mt-4 md:mt-0 mb-2">درباره ما</span>
                        <span class="my-2"><a href="#" class="text-teal-200 text-md hover:text-white">link 1</a></span>
                        <span class="my-2"><a href="#" class="text-teal-200  text-md hover:text-white">link 1</a></span>
                        <span class="my-2"><a href="#" class="text-teal-200 text-md hover:text-white">link 1</a></span>
                    </div>
                    <div class="flex flex-col">
                        <span class="text-xl text-teal-300 mt-4 md:mt-0 mb-2">تماس با مت</span>
                        <span class="my-2"><a href="#" class="text-teal-200  text-md hover:text-white">link 1</a></span>
                        <span class="my-2"><a href="#" class="text-teal-200  text-md hover:text-white">link 1</a></span>
                        <span class="my-2"><a href="#" class="text-teal-200  text-md hover:text-white">link 1</a></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="container mx-auto px-6">
            <div class="mt-16 border-t-2 border-gray-300 flex flex-col items-center">
                <div class="sm:w-2/3 text-center py-6 bg-teal-800">
                    <p class="text-2xl text-teal-300 mb-2">
                        © 2020 by amirkmzh
                        وبارتما
                    </p>
                </div>
            </div>
        </div>
    </footer>
    
</body>
</html>