<div>
<div class="px-6">
    <p>نام کاربر</p>
</div>

<div class="flex items-center flex-wrap">

    

    <a href="/admin/channel-management" class="hover:scale-110">
        <div class="max-w-sm rounded overflow-hidden shadow-lg m-10 hover:scale-110">
            <img class="w-full" src="/static/tv-channels.webp" alt="Sunset in the mountains">
            <div class="px-6 py-4">
                <div class="font-bold text-xl mb-2">مدیریت کانال های تلویزیون</div>
                <p class="text-gray-700 text-base">
                ساخت - تغییر نام - حذف - لیست
                </p>
            </div>
            {{!-- <div class="px-6 pt-4 pb-2">
                <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#winter</span>
            </div> --}}
        </div>
    </a>


    <a href="/admin/ads/ads-management">
        <div class="max-w-sm rounded overflow-hidden shadow-lg m-10">
            <img class="w-full" src="/static/ad.jpg" alt="ads" width="150" height="150">
            <div class="px-6 py-4">
                <div class="font-bold text-xl mb-2">تبلیغات</div>
                <p class="text-gray-700 text-base">
                    مدیریت تبلیغات
                </p>
            </div>
        </div>
    </a>

    <a href="/admin/maheKhandan">
        <div class="max-w-sm rounded overflow-hidden shadow-lg m-10">
            <img class="w-full" src="/static/moon.webp" alt="Sunset in the mountains">
            <div class="px-6 py-4">
                <div class="font-bold text-xl mb-2">ماه خندان</div>
                <p class="text-gray-700 text-base"> ماه خندان </p>
            </div>
            
        </div>
    </a>

    <a href="/admin/company">
        <div class="max-w-sm rounded overflow-hidden shadow-lg m-10">
            <img class="w-full" src="/static/statistics.webp" alt="Sunset in the mountains">
            <div class="px-6 py-4">
                <div class="font-bold text-xl mb-2"> آمار شرکت ها</div>
                <p class="text-gray-700 text-base">
                دیدن آمارها
                </p>
            </div>
            {{!-- <div class="px-6 pt-4 pb-2">
                <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#photography</span>
                <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#travel</span>
                <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#winter</span>
            </div> --}}
        </div>
    </a>


    <a href="/admin/user">
        <div class="max-w-sm rounded overflow-hidden shadow-lg m-10">
            <img class="w-full" src="/static/users.webp" alt="Sunset in the mountains">
            <div class="px-6 py-4">
                <div class="font-bold text-xl mb-2">کاربران</div>
                <p class="text-gray-700 text-base">
                اطلاعات کاربران
                </p>
            </div>
            
        </div>
    </a>


    <a href="/admin/plan">
        <div class="max-w-sm rounded overflow-hidden shadow-lg m-10">
            <img class="w-full" src="/static/plans.webp" alt="plans">
            <div class="px-6 py-4">
                <div class="font-bold text-xl mb-2">پلن ها</div>
                <p class="text-gray-700 text-base">
                اطلاعات پلن ها
                </p>
            </div>
            
        </div>
    </a>


      <a href="/admin/appliedJobs">
        <div class="max-w-sm rounded overflow-hidden shadow-lg m-10">
            <img class="w-full" src="/static/appliedJobs.webp" alt="plans">
            <div class="px-6 py-4">
                <div class="font-bold text-xl mb-2">درخواست های ارسالی</div>
                <p class="text-gray-700 text-base">
                اطلاعات درخواست های ارسالی مشاغل
                </p>
            </div>
            
        </div>
    </a>





</div>

</div>