
<div class="">

    {{#if errors}}
        <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative justify-center" role="alert">
        {{!-- <strong class="font-bold">Holy smokes!</strong> --}}
        {{#each errors as |error|}}
            <span class="block">{{ error }}</span>
        {{/each}}

        </div>
    {{/if}}

    <div class="my-10 max-w-3xl rounded overflow-hidden shadow-lg mx-10">
        <div class="px-6">
            <div class="mt-4 flex justify-between">
            <h1 class="text-2xl">
                آپلود ویدیو
            </h1>
            <div class="flex justify-end mr-4">
                    
                <a href="/admin/mahekhandan">
                        <button class="border-gray-400 text-gray-700 hover:text-gray-900 py-2 px-4 rounded border-2">
                            بازگشت
                        </button>
                </a>
            </div>
        </div>
        <div class="mt-10">
            <form class="w-full max-w-lg" enctype="multipart/form-data" method="POST" action="/admin/maheKhandan/upload-video">
                <div class="flex flex-wrap md:w-4/5 mb-6">

                    <div class="flex flex-wrap md:w-2/3 my-4 mx-4">
                        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="video">
                                فایل ویدیو
                            </label>
                        <input type="file" name="video" id="video" accept="image/mp4">
                        <p class="text-gray-600 text-xs italic mt-4">ویدیو باید به فرمت mp4 باشد</p>

                    </div>
                    
                </div>
                

                <div class="flex items-center justify-start my-10 mx-6">
                    <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
                        آپلود ویدیو
                    </button>
                </div>
                
            </form>
        </div>
        </div>
        
    </div>

</div>

