
{{!-- channle management --}}
{{!-- {{ video[0] }} --}}
<div class="w-full">
    {{#if errors}}
        <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative justify-center" role="alert">
        {{!-- <strong class="font-bold">Holy smokes!</strong> --}}
        {{#each errors as |error|}}
            <span class="block">{{ error }}</span>
        {{/each}}
        
        </div>
    {{/if}}

    <div class="w-2/3 mx-auto">
        <div class="bg-white shadow-md rounded m-6">
            <div class="flex justify-between m-10 pt-10">
                <h1 class="text-2xl">ویدیو های ماه خندان</h1>
                
                <div class="felx justify-end mr-4">
                    <a href="/admin/mahekhandan/create-video" class="ml-4">
                        <button class="bg-blue-400 hover:bg-blue-600 text-blue-100 font-bold py-2 px-4 rounded border-2">
                            ساخت ویدیو جدید
                        </button>
                    </a>
                    <a href="/admin/">
                            <button class="border-gray-400 text-gray-700 hover:text-gray-900 py-2 px-4 rounded border-2">
                                بازگشت
                            </button>
                    </a>
                </div>
            </div>
            <div class="min-w-full justify-center justify-items-center object-center">
                <table class="text-right w-full border-collapse table-auto"> <!--Border collapse doesn't work on this site yet but it's available in newer tailwind versions -->
                    <thead>
                        <tr dir="rtl">
                            <th class="py-4 px-6 bg-grey-lightest font-bold uppercase text-sm text-grey-dark border-b border-grey-light">ویدیو</th>
                            <th class="py-4 px-6 bg-grey-lightest font-bold uppercase text-sm text-grey-dark border-b border-grey-light">عملیات</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{!-- {{ ads }} --}}
                        {{#each video as |vid|}}

                            <tr class="hover:bg-grey-lighter">
                                <td class="py-4 px-6 border-b border-grey-light">
                                     
                                    <img src="/{{ vid.thumbnail }}" alt="" height="75" width="75">

                                </td>
                                <td class="py-4 px-6 border-b border-grey-light">
                                                                        
                                    <a href="/admin/mahekhandan/view-video/{{ vid._id }}" class="text-grey-lighter font-bold py-1 px-3 rounded text-xs bg-blue hover:bg-blue-dark">
                                        <button class="bg-green-700 hover:bg-green-800 text-green-100 p-2 rounded">
                                            مشاهده
                                        </button>
                                    </a>
                                    <a href="/admin/mahekhandan/delete-video/{{ vid._id }}" class="text-grey-lighter font-bold py-1 px-3 rounded text-xs bg-blue hover:bg-blue-dark">
                                        <button class="bg-red-600 hover:bg-red-800 text-red-100 p-2 rounded">
                                            حذف
                                        </button>
                                    </a>

                                </td>
                            </tr>
                        {{/each}}
                    </tbody>
                    </table>
            </div>
        </div>
    </div>

</div>

