

<div class="my-10 w-full rounded overflow-hidden shadow-lg mx-10 ">

  <div class="flex justify-end m-4">
                    
      <a href="/admin/mahekhandan">
              <button class="border-gray-400 text-gray-700 hover:text-gray-900 py-2 px-4 rounded border-2">
                  بازگشت
              </button>
      </a>
  </div>

    <div class="my-10  mx-10 flex justify-center">
        <video controls class="object-cover rounded" height="768" width="1024">
            <source src="/{{ video.uri }}" type="video/mp4">
            
        </video>
        
    </div>

    <div class="my-2 relative mx-20">
      <div class="flex p-4 justify-end">
        <h3 class="bg-orange-300 text-orange-700 rounded">
          <p class="p-2"> وضعیت reaction ها</p>
        </h3>
      </div>
      
      <div class="flex my-3 justify-end">
        <div class="m-4 flex bg-red-400  p-2 rounded">
          <p class="text-2xl mr-3">{{ reactions.ones }}</p>
          <p class="text-3xl mr-3">&#128078;</p>
        </div>

        <div class="m-4 flex bg-blue-200  p-2 rounded">
          <p class="text-2xl mr-3">{{ reactions.twos }}</p>
          <p class="text-3xl mr-3">&#128080;</p>
        </div>

        <div class="m-4 flex bg-green-400  p-2 rounded">
          <p class="text-2xl mr-3">{{ reactions.threes }}</p>
          <p class="text-3xl mr-3">&#128077;</p>
        </div>
      </div>
    </div>

    <div class="min-w-full justify-center justify-items-center object-center">
        <div class="m-6"> 
            <h2 class="font-bold">
                کامنت ها
            </h2>
        </div>
        <table class="text-right w-full border-collapse table-auto"> <!--Border collapse doesn't work on this site yet but it's available in newer tailwind versions -->
            <thead>
                <tr dir="rtl">
                    <th class="py-4 px-6 bg-grey-lightest font-bold uppercase text-sm text-grey-dark border-b border-grey-light">ویدیو</th>
                    <th class="py-4 px-6 bg-grey-lightest font-bold uppercase text-sm text-grey-dark border-b border-grey-light">کاربر</th>
                    <th class="py-4 px-6 bg-grey-lightest font-bold uppercase text-sm text-grey-dark border-b border-grey-light">عملیات</th>
                </tr>
            </thead>
            <tbody>
                {{!-- {{ ads }} --}}
                {{#each comments as |comment|}}

                    <tr class="hover:bg-grey-lighter">
                        <td class="py-4 px-6 border-b border-grey-light">
                                
                            <p> {{ comment.text }} </p>

                        </td>

                        <td class="py-4 px-6 border-b border-grey-light">
                            <p class="text-indigo-400">{{ user.phonenumber }}</p>
                        </td>
                        <td class="py-4 px-6 border-b border-grey-light">
                                                                
                            <a href="/admin/mahekhandan/delete-comment/{{ comment._id }}" class="text-grey-lighter font-bold py-1 px-3 rounded text-xs bg-blue hover:bg-blue-dark">
                                <button class="bg-red-600 hover:bg-red-800 text-red-100 p-2 rounded">
                                    حذف
                                </button>
                            </a>
                              {{!-- <button class="modal-open bg-transparent border border-red-500 hover:border-red-500 text-red-200 hover:text-red-300 font-bold p-2 rounded bg-red-500 hover:bg-red-700">حذف</button> --}}

                        </td>
                    </tr>
                {{/each}}
            </tbody>
            </table>
    </div>

</div>

<div class="modal opacity-0 pointer-events-none fixed w-full h-full top-0 left-0 flex items-center justify-center">
    <div class="modal-overlay absolute w-full h-full bg-gray-900 opacity-50"></div>
    
    <div class="modal-container bg-white w-11/12 md:max-w-md mx-auto rounded shadow-lg z-50 overflow-y-auto">
      
      <div class="modal-close absolute top-0 right-0 cursor-pointer flex flex-col items-center mt-4 mr-4 text-white text-sm z-50">
        <svg class="fill-current text-white" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18">
          <path d="M14.53 4.53l-1.06-1.06L9 7.94 4.53 3.47 3.47 4.53 7.94 9l-4.47 4.47 1.06 1.06L9 10.06l4.47 4.47 1.06-1.06L10.06 9z"></path>
        </svg>
        <span class="text-sm">(Esc)</span>
      </div>

      <!-- Add margin if you want to see some of the overlay behind the modal-->
      <div class="modal-content py-4 text-left px-6">
        <!--Title-->
        <div class="flex justify-between items-center pb-3">
          <p class="text-2xl font-bold">حذف ویدیو</p>
          <div class="modal-close cursor-pointer z-50">
            <svg class="fill-current text-black" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18">
              <path d="M14.53 4.53l-1.06-1.06L9 7.94 4.53 3.47 3.47 4.53 7.94 9l-4.47 4.47 1.06 1.06L9 10.06l4.47 4.47 1.06-1.06L10.06 9z"></path>
            </svg>
          </div>
        </div>

        <!--Body-->
        <p>آیا از حذف اطمینان دارید؟ </p>
        <!--Footer-->
        <div class="flex justify-end pt-2">
            <a href="/admin/mahekhandan/delete-video/{{ comment._id }}" class="text-grey-lighter font-bold py-1 px-3 rounded text-xs bg-blue hover:bg-blue-dark">
                    <button class="px-4 bg-transparent p-2 rounded text-red-200 bg-red-500 hover:bg-red-800 hover:text-red-300 mr-2 text-lg">حذف</button>
            </a>
          <button class="modal-close bg-transparent px-4 p-2 rounded text-indigo-400 hover:text-indigo-600">انصراف</button>
        </div>
        
      </div>
    </div>
  </div>

  <script>
    var openmodal = document.querySelectorAll('.modal-open')
    for (var i = 0; i < openmodal.length; i++) {
      openmodal[i].addEventListener('click', function(event){
    	event.preventDefault()
    	toggleModal()
      })
    }
    
    const overlay = document.querySelector('.modal-overlay')
    overlay.addEventListener('click', toggleModal)
    
    var closemodal = document.querySelectorAll('.modal-close')
    for (var i = 0; i < closemodal.length; i++) {
      closemodal[i].addEventListener('click', toggleModal)
    }
    
    document.onkeydown = function(evt) {
      evt = evt || window.event
      var isEscape = false
      if ("key" in evt) {
    	isEscape = (evt.key === "Escape" || evt.key === "Esc")
      } else {
    	isEscape = (evt.keyCode === 27)
      }
      if (isEscape && document.body.classList.contains('modal-active')) {
    	toggleModal()
      }
    };
    
    
    function toggleModal () {
      const body = document.querySelector('body')
      const modal = document.querySelector('.modal')
      modal.classList.toggle('opacity-0')
      modal.classList.toggle('pointer-events-none')
      body.classList.toggle('modal-active')
    }
    
     
  </script>