

<div class="max-w-2xl rounded overflow-hidden shadow-lg w-3/5 mx-auto">
  <img class="w-full" src="/{{channel.image}}" alt="شبکه">
  <div class="px-6 py-4">
    
    <div class="flex justify-between">
        <div class="font-bold text-xl mb-2">{{channel.name}}</div>
        <div class="flex justify-end mr-4">

                            
            <a href="/admin/channel-management">
                <button class="border-gray-400 text-gray-700 hover:text-gray-900 py-2 px-4 rounded border-2">
                    بازگشت
                </button>
            </a>

        </div>
    </div>

    <div class=" pt-4 pb-2 flex">
        <div class="md:w-1/2 flex">
            <p class="text-black text-base pl-4">هزینه : </p>
            {{#if channel.free}}
                <p class="text-gray-700 text-base">رایگان</p>
            {{else}}
                <p class="text-gray-700 text-base">پولی</p>
            {{/if}}
            
        </div>
        <div class="md:w-1/2 flex">
            <p class="text-black text-base pl-4">نوع : </p>
            <p class="text-gray-700 text-base">خصوصی</p>
        </div>
        
    </div>
    <div class="md:w-full flex my-4">
        <p class="text-black text-base pl-4">تاریخ ایجاد : </p>
        <p class="text-gray-700 text-base">{{channel.createdAt}}</p>
    </div>
    <div class="md:w-full flex mt-4">
        <p class="text-black text-base pl-4">تاریخ آخرین تغییر : </p>
        <p class="text-gray-700 text-base">{{channel.updatedAt}}</p>
    </div>
    
  </div>

  <br style="color: black;"/>

  <div class="flex justify-between m-10 pt-10">
            <h1 class="text-2xl">لیست ویدیو ها</h1>
            <a href="/admin/upload-video/{{ channel._id }}">
                <button class="bg-blue-400 hover:bg-blue-600 text-blue-100 font-bold py-2 px-4 rounded">
                    آپلود ویدیو جدید
                </button>
            </a>
        </div>
  <div class="min-w-full justify-center justify-items-center object-center">
             <table class="text-right w-full border-collapse table-auto"> <!--Border collapse doesn't work on this site yet but it's available in newer tailwind versions -->
                <thead>
                    <tr dir="rtl">
                        <th class="py-4 px-6 bg-grey-lightest font-bold uppercase text-sm text-grey-dark border-b border-grey-light">ویدیو</th>
                        <th class="py-4 px-6 bg-grey-lightest font-bold uppercase text-sm text-grey-dark border-b border-grey-light">عملیات</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each videos as |video|}}
                        <tr class="hover:bg-grey-lighter">
                            <td class="py-4 px-6 border-b border-grey-light">ویدیو</td>
                            <td class="py-4 px-6 border-b border-grey-light">
                                
                                <a href="/admin/view-video/{{ video._id }}" class="text-grey-lighter font-bold py-1 px-3 rounded text-xs bg-blue hover:bg-blue-dark">
                                    <button class="bg-green-700 hover:bg-green-800 text-green-100 p-2 rounded">
                                        مشاهده
                                    </button>
                                </a>
                                <a href="/admin/delete-video/{{ video._id }}" class="text-grey-lighter font-bold py-1 px-3 rounded text-xs bg-blue hover:bg-blue-dark">
                                    <button class="bg-red-600 hover:bg-red-800 text-red-100 p-2 rounded">
                                        حذف
                                    </button>
                                </a>

                            </td>
                    </tr>
                    {{/each}}
                </tbody>
                </table>
        </div>

</div>

