
<div>

    {{#if errors}}
        <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative justify-center" role="alert">
        {{!-- <strong class="font-bold">Holy smokes!</strong> --}}
        {{#each errors as |error|}}
            <span class="block">{{ error }}</span>
        {{/each}}
        
        </div>
    {{/if}}

    <div class="my-10 max-w-3xl rounded overflow-hidden shadow-lg mx-10">
        <div class="px-6">
            <div class="flex justify-between">
            <h1 class="text-2xl">
                ایجاد یک کانال جدید
            </h1>
            
            <div class="flex justify-end mr-4">

                        
                <a href="/admin/channel-management">
                    <button class="border-gray-400 text-gray-700 hover:text-gray-900 py-2 px-4 rounded border-2">
                        بازگشت
                    </button>
                </a>

            </div>
        </div>
        <div class="mt-10">
            <form class="w-full max-w-lg" enctype="multipart/form-data" action="/admin/create-channel" method="POST">
                <div class="flex flex-wrap -mx-3 mb-6">

                    <div class="flex flex-wrap md:w-2/3  mb-6">
                        <div class="w-full px-3">
                        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="channelName">
                            نام کانال
                        </label>
                        <input class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" name="channelName" type="text" placeholder="نام کانال">
                        <p class="text-gray-600 text-xs italic">نام کانال باید یکتا باشد</p>
                        </div>
                    </div>

                    {{!-- <div class="w-full md:w-1/3 px-3 mb-6 md:mb-0"> --}}
                    <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0 justify-start">
                        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="free">
                            هزینه
                        </label>
                        <div class="relative">
                            <select class="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="grid-state" name="free">
                                <option value="true">رایگان</option>
                                <option value="false">پولی</option>
                            </select>
                            <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                            <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
                            </div>
                        </div>
                    </div>

                    <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0 justify-start">
                        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="type">
                            نوع
                        </label>
                        <div class="relative">
                            <select class="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="grid-state" name="type">
                                <option value="exclusive">خصوصی</option>
                                <option value="public">عمومی</option>
                            </select>
                            <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                            <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
                            </div>
                        </div>
                    </div>

                    
                </div>
                <div class="flex flex-wrap md:w-2/3 my-8">
                    <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="channelImage">
                            تصویر کانال
                        </label>
                    <input type="file" name="channelImage" id="channelImage" accept="image/*" >
                    <p class="text-gray-600 text-xs italic mt-4">عکس باید به فرمت jpeg یا png باشد</p>

                </div>

                <div class="flex items-center justify-start my-10">
                    <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
                        ساخت کانال
                    </button>
                </div>
                
            </form>
        </div>
        </div>
        
    </div>
</div>
