{{!-- dlete video --}}

<div class="my-10 w-full rounded overflow-hidden shadow-lg mx-10 ">

    <div class="flex justify-end m-4">

        <a href="/admin/view-channel/{{channel}}">
            <button class="border-gray-400 text-gray-700 hover:text-gray-900 py-2 px-4 rounded border-2">
                بازگشت
            </button>
        </a>

    </div>

    <div class="my-10  mx-10 flex justify-center">
        <video controls class="object-cover rounded" height="768" width="1024">
        <source src="/{{ videoUrl.uri }}" type="video/mp4">
        
    </video>
        
    </div>

    <div class="my-4 mx-6 flex justify-end">
        <a href="/admin/remove-video/{{ videoUrl._id }}">
            <button class="bg-red-500 hover:bg-red-700 text-red-200 font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
                از حذف ویدیو مطمینم
            </button>
        </a>
    </div>

</div>