
<div>

        {{#if errors}}
        <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative justify-center" role="alert">
        {{!-- <strong class="font-bold">Holy smokes!</strong> --}}
        {{#each errors as |error|}}
            <span class="block">{{ error }}</span>
        {{/each}}
        
        </div>
    {{/if}}



    <div class="my-10 max-w-3xl rounded overflow-hidden shadow-lg mx-10">
        <div class="px-6 ">
            <div class="flex justify-between">
            <h1 class="text-2xl my-4">
                آپلود
            </h1>
            <div class="flex justify-end mr-4">

                <a href="/admin/view-channel/{{channel}}">
                    <button class="border-gray-400 text-gray-700 hover:text-gray-900 py-2 px-4 rounded border-2">
                        بازگشت
                    </button>
                </a>

            </div>
        </div>
        <div class="mt-10">
            <form class="w-full max-w-lg" enctype="multipart/form-data" method="POST" action="/admin/upload-video">
                <div class="flex flex-wrap -mx-3 mb-6">

                    <div class="flex flex-wrap md:w-2/3  mb-6">
                        <div class="w-full px-3">
                            <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="channelName">
                                نام کانال
                            </label>
                            <input class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" name="channelName" type="text" placeholder="نام کانال" value="{{ channelName.name }}" disabled>
                        </div>
                    </div>



                    
                </div>
                <div class="flex flex-wrap md:w-2/3 my-8">
                    <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="channelVideo">
                            انتخاب فایل ویدیویی
                        </label>
                    <input type="file" name="channelVideo" id="channelVideo" accept="video/mp4,video/x-m4v,video/*">
                    <p class="text-gray-600 text-xs italic mt-4">ویدیو باید به فرمت mp4 باشد</p>

                </div>
                
                <input type="text" name="id" value="{{ channelName.id }}" hidden>

                <div class="flex items-center justify-start my-10">
                    <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
                        ارسال ویدیو
                    </button>
                </div>
                
            </form>
        </div>
        </div>
        
    </div>

</div>
