
<div class="my-10 w-full rounded overflow-hidden shadow-lg mx-10 ">

    <div class="flex justify-end m-4">
        
        <a href="/admin/set-banner/{{ videoUrl._id }}">
            <button class="border-green-800 text-green-200 hover:text-green-400 bg-green-600 hover:bg-green-800 py-2 px-4 rounded border-2 ml-2">
                تنظیم به عنوان ویدیو صفحه اول
            </button>
        </a>
        <a href="/admin/view-channel/{{channel}}">
            <button class="border-gray-400 text-gray-700 hover:text-gray-900 py-2 px-4 rounded border-2">
                بازگشت
            </button>
        </a>

    </div>

    <div class="my-10  mx-10 flex justify-center">
        <video controls class="object-cover rounded" height="768" width="1024">
        <source src="/{{ videoUrl.uri }}" type="video/mp4">
        
    </video>
        
    </div>

</div>