
<div class="md:w-1/3 mx-auto justify-center">

  {{#if errors}}
    <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative justify-center" role="alert">
      {{!-- <strong class="font-bold">Holy smokes!</strong> --}}
      {{#each errors as |error|}}
        <span class="block">{{ error }}</span>
      {{/each}}
      
    </div>
  {{/if}}

  <div class="w-full max-w-xs my-10 justify-center items-center">
    <form class="bg-white shadow-md rounded p-8 pt-6 pb-8 mb-4" action="/auth/login" method="post">
      <div class="my-4">
        <label class="block text-gray-700 text-lg font-iranSerifBold mb-2" for="username">
          نام کاربری
        </label>
        <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline mt-4" name="username" type="text" placeholder="نام کاربری">
      </div>
      <div class="my-4">
        <label class="block text-gray-700 text-lg font-iranSerifBold mb-2" for="password">
          پسورد
        </label>
        <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline mt-4" name="password" type="password" placeholder="رمز عبور">
      </div>

      <div class="md:flex md:items-center mb-6">
        <div class="md:w-1/3"></div>
        <label class="md:w-2/3 block text-gray-500 font-bold">
          <input class="mr-2 leading-tight" type="checkbox" name="remember">
          <span class="text-sm">
            مرا به خاطر بسپار
          </span>
        </label>
      </div>
      
      <div class="flex items-center justify-between">
        <button type="submit" class="bg-teal-600 hover:bg-teal-800 text-teal-100 py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="button">
          ورود
        </button>
      </div>
      <div class="flex items-center justify-between">
        {{ captcha }}
      </div>
    </form>
    
  </div>

</div>




