

<div class="md:w-1/3 mx-auto justify-center">


  <div class="w-full max-w-xs my-10 justify-center items-center">
      <p class="text-lg text-green-700 text-bold my-10">
          شماره ای که به همراه شما sms شده را بنویسید
      </p>
    <form class="bg-white shadow-md rounded p-8 pt-6 pb-8 mb-4" action="/auth/registerNumber" method="POST">
      <div class="my-4">
        <label class="block text-gray-700 text-lg font-bold mb-2" for="password">
          رمز
        </label>
        <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline mt-4" name="password" type="text" placeholder="رمز">
      </div>
      <input type="hidden" id="phoneNumber" name="phoneNumber" value={{ phoneNumber }}> 
      <div class="flex items-center justify-between">
        <button type="submit" class="bg-teal-600 hover:bg-teal-800 text-teal-100 py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="button">
          ورود
        </button>
      </div>
    </form>
    
  </div>

</div>




