<div class="flex flex-col justify-center w-3/5">
    <div class="min-w-6xl rounded overflow-hidden shadow-lg">
        <img class="w-full object-fill" src="/{{ user.profilePicture }}" alt="{{user.name}}">
        
        <div class="px-6 py-4">
            <div class="flex justify-between my-10">
                <div class="">
                    <p class="font-bold text-xl mb-2">{{ user.name }}</p>
                </div>

                <div class="mx-4 flex justify-end">
                    <a href="/admin/user/remove-user/{{ user._id }}">
                        <button class="bg-red-500 hover:bg-red-700 text-red-200 font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
                        از حذف کاربر مطمینم 
                        </button>
                    </a>
                    <a href="/admin/user" class="mr-2">
                    <button class="border-gray-400 text-gray-700 hover:text-gray-900 py-2 px-4 rounded border-2">
                        بازگشت
                    </button>
                </a>
                </div>
            </div>

            <div class="flex my-4 justify-between">
                <div class="flex">
                    <p class="text-gray-900">شماره تلفن :</p>
                    <p class="text-gray-700 text-base mr-4">
                        {{ user.phonenumber }}
                    </p>
                </div>

                <div class="flex">
                    <p class="text-gray-900">کد ملی :</p>
                    <p class="text-gray-700 text-base mr-4">
                        {{ user.personalCodeID }}
                    </p>
                </div>

                <div class="w-1/4"></div>
            </div>

            <hr>

            <div class="flex my-4 justify-between">
                
                <div class="flex">
                    <p class="text-gray-900">استان :</p>
                    <p class="text-gray-700 text-base mr-4">
                        {{ user.state }}
                    </p>
                </div>

                {{!-- <div class="mx-6"></div> --}}

                <div class="flex">
                    <p class="text-gray-900">شهر :</p>
                    <p class="text-gray-700 text-base mr-4">
                        {{ user.city }}
                    </p>
                </div>
                <div class="w-1/4"></div>

            </div>

            <hr>

            <div class="my-4 flex">
                <p class="text-gray-900">تاریخ تولد : </p>
                <p class="mr-4 text-gray-700">{{ user.birthdate }}</p>
            </div>

            <hr>

            <div class="my-4 flex">
                <p class="text-gray-900">آیا این کاربر ادمین است ؟ </p>
                {{#if user.admin}}
                    <p class="text-indigo-600 mx-6 text-bold text-xl" > بله</p>
                {{else}}
                    <p class="text-red-600 mx-6 text-bold text-xl"> خیر</p>
                {{/if}}
            </div>

            <hr>

            <div class="my-4 flex">
                <p class="text-gray-900">پست الکترونیکی </p>
                <p class="mr-4 text-gray-700">{{ user.email }}</p>
            </div>
            
        </div>

    </div>
</div>

