<div class="flex flex-col justify-center">
    <div class="max-w-3xl rounded overflow-hidden shadow-lg">
        <img class="w-full" src="/{{ company.logo }}" alt="Sunset in the mountains">
        <div class="px-6 py-4">
            <div class="flex justify-between">
                <div class="font-bold text-xl mb-2">{{ company.name }}</div>
                <a href="/admin/company/view-category/{{category}}">
                            <button class="border-gray-400 text-gray-700 hover:text-gray-900 py-2 px-4 rounded border-2">
                                بازگشت
                            </button>
                </a>
            </div>

            <div class="flex my-4">
                <p class="text-gray-900">توضیحات :</p>
                <p class="text-gray-700 text-base mr-4">
                    {{ company.description }}
                </p>
            </div>

            <hr>

            <div class="flex my-4">
                <p class="text-gray-900">استان :</p>
                <p class="text-gray-700 text-base mr-4">
                    {{ company.state }}
                </p>

                <div class="mx-6"></div>

                <p class="text-gray-900">شهر :</p>
                <p class="text-gray-700 text-base mr-4">
                    {{ company.city }}
                </p>

            </div>

            <hr>

            <div class="my-4 flex">
                <p class="text-gray-900">مالک</p>
                <p class="text-gray-700 text-base mr-4">
                    {{ company.owner.name }}
                </p>
            </div>
            
        </div>
        
        <div class="my-4 flex justify-end mx-6 ">
            <a href="/admin/company/remove-company/{{ company._id }}">
                <button class="bg-red-500 hover:bg-red-800 text-red-100 px-4 py-2 rounded">
                    <p>از حذف این شرکت مطمینم</p>
                </button>
            </a>
        </div>

    </div>
</div>

