
{{!-- channle management --}}
{{!-- {{ allAds }} --}}
<div class="w-full">
    {{#if errors}}
        <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative justify-center" role="alert">
        {{!-- <strong class="font-bold">Holy smokes!</strong> --}}
        {{#each errors as |error|}}
            <span class="block">{{ error }}</span>
        {{/each}}
        
        </div>
    {{/if}}

    <div class="w-2/3 mx-auto">
        <div class="bg-white shadow-md rounded m-6">
            <div class="flex justify-between m-10 pt-10">
                <h1 class="text-2xl">{{ category.name }}</h1>
                <div class="felx justify-end">
                    <a href="/admin/company">
                            <button class="border-gray-400 text-gray-700 hover:text-gray-900 py-2 px-4 rounded border-2">
                                بازگشت
                            </button>
                    </a>
                </div>
            </div>
            <div class="min-w-full justify-center justify-items-center object-center">
                <table class="text-right w-full border-collapse table-auto"> <!--Border collapse doesn't work on this site yet but it's available in newer tailwind versions -->
                    <thead>
                        <tr dir="rtl">
                            <th class="py-4 px-6 bg-grey-lightest font-bold uppercase text-sm text-grey-dark border-b border-grey-light">شرکت</th>
                            <th class="py-4 px-6 bg-grey-lightest font-bold uppercase text-sm text-grey-dark border-b border-grey-light">عملیات</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{!-- {{ ads }} --}}
                        {{#each companies as |company|}}
  
                            <tr class="hover:bg-grey-lighter">
                                <td class="py-4 px-6 border-b border-grey-light">
                                     
                                    <p> {{ company.name }} </p>

                                </td>
                                <td class="py-4 px-6 border-b border-grey-light">
                                                                        
                                    <a href="/admin/company/view-company/{{ company._id }}" class="text-grey-lighter font-bold py-1 px-3 rounded text-xs bg-blue hover:bg-blue-dark">
                                        <button class="bg-green-700 hover:bg-green-800 text-green-100 p-2 rounded">
                                            مشاهده
                                        </button>
                                    </a>
                                    <a href="/admin/company/delete-company/{{ company._id }}" class="text-grey-lighter font-bold py-1 px-3 rounded text-xs bg-blue hover:bg-blue-dark">
                                        <button class="bg-red-600 hover:bg-red-800 text-red-100 p-2 rounded">
                                            حذف شرکت
                                        </button>
                                    </a>

                                </td>
                            </tr>
                        {{/each}}
                    </tbody>
                    </table>
            </div>
        </div>
    </div>

</div>

