
<div class="max-w-sm rounded overflow-hidden shadow-lg">
  <img src="/static/admin.webp" alt="upload file">
  <div class="px-6 py-4">
    <div class="text-xl mb-2">صفحه ادمین</div>
    <p class="text-gray-700">
      ادمین
    </p>
  </div>

  <div class="px-6 pt-2 pb-4 flex justify-end">
    <button class="bg-transparent hover:bg-teal-800 text-teal-700 hover:text-white py-2 px-4 border-4 border-teal-700 hover:border-transparent rounded-full">
        <a href="/admin">
            ادمین
        </a>
    </button>
    
  </div>
</div>