
<div>

    {{#if errors}}
        <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative justify-center" role="alert">
        {{!-- <strong class="font-bold">Holy smokes!</strong> --}}
        {{#each errors as |error|}}
            <span class="block">{{ error }}</span>
        {{/each}}
        
        </div>
    {{/if}}

    <div class="my-10 max-w-3xl rounded overflow-hidden shadow-lg mx-10">
        <div class="px-6">
            <div>
            <h1 class="text-2xl">
                ایجاد یک پلن جدید
            </h1>
        </div>
        <div class="mt-10">
            <form class="w-full max-w-lg" action="/admin/plan/create-plan" method="POST">
                <div class="flex flex-wrap mb-6 w-full">

                    <div class="flex flex-wrap mb-6">
                        <div class="w-full px-3">
                        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="name">
                            نام پلن
                        </label>
                        <input class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" name="name" type="text" placeholder="نام پلن">
                        <p class="text-gray-600 text-xs italic">نام پلن باید یکتا باشد</p>
                        </div>
                    </div>

                    {{!-- <div class="w-full md:w-1/3 px-3 mb-6 md:mb-0"> --}}
                    

                    <div class="flex flex-wrap mb-6">
                        <div class="w-full px-3">
                        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="days">
                            مدت زمان پلن
                        </label>
                        <input class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" name="days" type="text" placeholder="مدت زمان">
                        <p class="text-gray-600 text-xs italic">مدت زمان عددی بر حسب روز است</p>

                        </div>
                    </div>

                    <div class="flex flex-wrap mb-6">
                        <div class="w-full px-3">
                        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="fee">
                            هزینه
                        </label>
                        <input class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" name="fee" type="text" placeholder="هزینه">
                        <p class="text-gray-600 text-xs italic">هزینه عددی بر حسب ریال است</p>

                        </div>
                    </div>

                    
                </div>
                

                <div class="flex items-center justify-start my-10">
                    <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
                        ساخت پلن
                    </button>
                </div>
                
            </form>
        </div>
        </div>
        
    </div>
</div>
