
{{!-- channle management --}}
{{!-- {{ allAds }} --}}
<div class="w-full">
    {{#if errors}}
        <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative justify-center" role="alert">
        {{!-- <strong class="font-bold">Holy smokes!</strong> --}}
        {{#each errors as |error|}}
            <span class="block">{{ error }}</span>
        {{/each}}
        
        </div>
    {{/if}}

    <div class="w-2/3 mx-auto">
        <div class="bg-white shadow-md rounded m-6 ">
            <div class="flex justify-between m-10 pt-10">
                <h1 class="text-2xl">پلن های پرداخت</h1>
                <div class="flex justify-end">
                    <a href="/admin/plan/create-plan">
                        <button class="bg-blue-400 hover:bg-blue-600 text-blue-100 font-bold py-2 px-4 rounded ml-2 border-2">
                            ساخت پلن جدید
                        </button>
                    </a>
                    <a href="/admin/">
                        <button class="border-gray-400 text-gray-700 hover:text-gray-900 py-2 px-4 rounded border-2">
                            بازگشت
                        </button>
                    </a>
                </div>
            </div>
            <div class="min-w-full justify-center justify-items-center object-center">
                <table class="text-right w-full border-collapse table-fixed"> <!--Border collapse doesn't work on this site yet but it's available in newer tailwind versions -->
                    <thead>
                        <tr dir="rtl">
                            <th class="py-4 px-6 bg-grey-lightest font-bold uppercase text-sm text-grey-dark border-b border-grey-light">پلن</th>
                            <th class="py-4 px-6 bg-grey-lightest font-bold uppercase text-sm text-grey-dark border-b border-grey-light">روزها</th>
                            <th class="py-4 px-6 bg-grey-lightest font-bold uppercase text-sm text-grey-dark border-b border-grey-light">هزینه</th>
                            <th class="py-4 px-6 bg-grey-lightest font-bold uppercase text-sm text-grey-dark border-b border-grey-light">عملیات</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{!-- {{ ads }} --}}
                        {{#each plans as |plan|}}
  
                            <tr class="hover:bg-grey-lighter">
                                <td class="py-4 px-6 border-b border-grey-light">
                                     
                                    <p> {{ plan.name }} </p>

                                </td>

                                <td class="py-4 px-6 border-b border-grey-light">
                                     
                                    <p> {{ plan.days }} </p>

                                </td>
                                <td class="py-4 px-6 border-b border-grey-light">
                                     
                                    <p> {{ plan.fee }} </p>

                                </td>
                                <td class="py-4 px-6 border-b border-grey-light">

                                    <a href="/admin/plan/edit-plan/{{ plan._id }}" class="text-grey-lighter font-bold py-1 px-3 rounded text-xs bg-blue hover:bg-blue-dark">
                                        <button class="bg-blue-700 hover:bg-blue-800 text-blue-100 p-2 rounded">
                                            تغییر
                                        </button>
                                    </a>
                                                                        
                                    <a href="/admin/plan/delete-plan/{{ plan._id }}" class="text-grey-lighter font-bold py-1 px-3 rounded text-xs bg-blue hover:bg-blue-dark">
                                        <button class="bg-red-600 hover:bg-red-800 text-red-100 p-2 rounded">
                                            حذف
                                        </button>
                                    </a>

                                </td>
                            </tr>
                        {{/each}}
                    </tbody>
                    </table>
            </div>
        </div>
    </div>

</div>

