
<div class="max-w-2xl rounded overflow-hidden shadow-lg w-3/5 mx-auto">
  {{!-- <img class="w-full" src="/{{ ads.bannerImage }}" alt="شبکه"> --}}
  <img class="w-full" src="/static/sample02.jpeg" alt="شبکه">

  <div class="px-6 py-4">
    
    <div class="flex justify-between">
      <div class="font-bold text-xl mb-2">تبلیغ</div>
      <div class="flex justify-end mr-4">
                  
        <a href="/admin/ads/ads-management">
            <button class="border-gray-400 text-gray-700 hover:text-gray-900 py-2 px-4 rounded border-2">
                بازگشت
            </button>
        </a>

      </div>
    </div>

    <div class=" pt-4 pb-2 flex md:min-w-full">
        <p class="text-black text-base pl-8">لینک : </p>
        <p class="text-gray-700 text-base text-left">
            <a href="https://google.com">{{ ads.link }}</a>
        </p>
    </div>
    <div class="md:w-3/4 flex my-4">
        <p class="text-black text-base pl-8">توضیحات : </p>
        <p class="text-gray-700 text-base">{{ ads.description }}</p>
    </div>
    <div class="md:w-3/4 flex mt-4">
        <p class="text-black text-base pl-8">wallpaper : </p>
        {{#if ads.wallpaper }}
          <p class="text-green-700 text-base">بله</p>
        {{else}}
          <p class="text-red-700 text-base">خیر</p>
        {{/if}}
        {{!-- <p class="text-gray-700 text-base">بله/خیر</p> --}}
    </div>
    
  </div>


</div>

