
<div class="">

    {{#if errors}}
        <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative justify-center" role="alert">
        {{!-- <strong class="font-bold">Holy smokes!</strong> --}}
        {{#each errors as |error|}}
            <span class="block">{{ error }}</span>
        {{/each}}

        </div>
    {{/if}}

    <div class="my-10 max-w-3xl rounded overflow-hidden shadow-lg mx-10">
        <div class="px-6">
            <div class="mt-4 flex justify-between">
            <h1 class="text-2xl">
                آپلود تبلیغ
            </h1>
            <div class="flex justify-end mr-4">
                
                <a href="/admin/ads/ads-management">
                    <button class="border-gray-400 text-gray-700 hover:text-gray-900 py-2 px-4 rounded border-2">
                        بازگشت
                    </button>
                </a>

            </div>
        </div>
        <div class="mt-10">
            <form class="w-full max-w-lg" enctype="multipart/form-data" method="POST" action="/admin/ads/upload-ads">
                <div class="flex flex-wrap md:w-4/5 mb-6">

                    <div class="flex flex-wrap md:w-2/3 my-4 mx-4">
                        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="adsBanner">
                                تصویر کانال
                            </label>
                        <input type="file" name="adsBanner" id="adsBanner" accept="image/jpg,image/png">
                        <p class="text-gray-600 text-xs italic mt-4">عکس باید به فرمت jpeg یا png باشد</p>

                    </div>

                    <div class="flex flex-wrap md:w-full  mb-6">
                        <div class="w-full px-3">
                        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="link">
                            لینک تبلیغ
                        </label>
                        <input class="appearance-none block min-w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" name="link" type="text" placeholder="نام کانال">
                        <p class="text-gray-600 text-xs italic">لینک میتواند خالی باشد</p>
                        </div>
                    </div>

                    <div class="flex flex-wrap md:w-full  mb-6">
                        <div class="w-full px-3">
                        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="description">
                            توضیحات
                        </label>
                        {{!-- <input class="appearance-none block min-w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" name="description" type="text" placeholder="نام کانال"> --}}
                        <textarea class="resize-none border rounded focus:outline-none focus:shadow-outline" cols="30" name="description"></textarea>
                        <p class="text-gray-600 text-xs italic">توضیحات میتواند خالی باشد</p>
                        </div>
                    </div>

                    
                </div>
                

                <div class="flex items-center justify-start my-10 mx-6">
                    <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
                        آپلود تبلیغ
                    </button>
                </div>
                
            </form>
        </div>
        </div>
        
    </div>

</div>

